body {
    background-color: #ffc4c4; /* Pink background */
    font-family: 'Georgia', serif;
    color: #850e35;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: #fff3f3; /* White container */
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.heading {
    font-family: 'Lucida Calligraphy', cursive;
    color: #850e35;
    font-size: 28px;
    text-align: center;
}

.hearts {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.heart {
    font-size: 50px;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.3s;
}

.heart:hover {
    transform: scale(1.2);
}

.hidden {
    display: none;
    font-size: 20px;
    margin-top: 20px;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.letter-wrapper {
    text-align: center;
    margin-top: 20px;
}

.envelope {
    background: url('envelope.png') no-repeat center;
    background-size: contain;
    width: 150px;
    height: 100px;
    margin: auto;
    cursor: pointer;
}

.letter-container {
    display: none;
    padding: 20px;
    background: #fff3f3;
    max-width: 500px;
    margin: auto;
    text-align: left;
    border-radius: 10px;
}

.paper {
    background: url('paper-texture.png');
    padding: 20px;
    font-family: 'Sriracha', cursive;
    font-size: 18px;
    color: black;
    line-height: 1.6;
}

.close-letter-btn {
    background-color: #850e35;
    color: white;
    padding: 10px;
    border: none;
    display: none;
}

#spotify-section {
    display: none;
    margin-top: 50px;
    padding: 20px;
    background: white;
    text-align: center;
}

.song p a {
    font-family: 'Georgia', serif;
    font-size: 16px;
    font-weight: bold;
    color: #850e35;
    text-decoration: none;
}

.song-explanation {
    color: black;
    font-size: 14px;
    text-align: left;
    line-height: 1.5;
}
